@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@keyframes textGlow {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 8px #e6e6e6;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #e6e6e6;
  }
  100% {
    text-shadow: 0 0 2px #fff, 0 0 8px #e6e6e6;
  }
}

.animate-text-glow {
  animation: textGlow 1.5s ease-in-out infinite;
}

@keyframes rainbowGlow {
  0% {
    filter: drop-shadow(0 0 20px #ffd700);
  }
  16.67% {
    filter: drop-shadow(0 0 15px #ffd700);
  }
  33.33% {
    filter: drop-shadow(0 0 20px #dc143c);
  }
  50% {
    filter: drop-shadow(0 0 15px #dc143c);
  }
  66.67% {
    filter: drop-shadow(0 0 20px #009999);
  }
  83.33% {
    filter: drop-shadow(0 0 15px #009999);
  }
  100% {
    filter: drop-shadow(0 0 20px #ffd700);
  }
}

.animate-svg-rainbow-glow {
  animation: rainbowGlow 5s ease-in-out infinite;
}

/* Masonry Grid */
.masonry-grid {
  column-count: 1;
}

@screen sm {
  .masonry-grid {
    column-count: 2;
  }
}

@screen md {
  .masonry-grid {
    column-count: 3;
  }
}

@screen lg {
  .masonry-grid {
    column-count: 4;
  }
}
